.header{
    @include flexBox1;
    padding:1rem 2rem;
    background-color:var(--bg-color2);
    box-shadow:var(--shadow1);

    &__left{
        @include flexBox3;
        gap:0.5rem;
    }

   &__logo{
       color:var(--txt-color2);
       font-size:2rem;
       font-weight: 700;
        & span{
            color:var(--txt-color9);
        }
   }

   &__hamburgerMenu{
    cursor: pointer;
   }

   &__hamburger{
        width:2rem;
        height:0.2rem;
        background-color:var(--txt-color5);
        border-radius:20px;
        transition:var(--transition1);
    
        &:nth-child(2){
            margin-block:0.3rem;
        }
   
        // toggle
        &:nth-child(1).active{
            width:2rem;
            transform:translateY(0.4rem)rotate(45deg)rotate(-360deg);
        }
        &:nth-child(2).active{
            width:0;
        }
        &:nth-child(3).active{
            width:2rem;
            transform:translateY(-0.6rem)rotate(-45deg)rotate(360deg);
        }
    } 

   
   &__utilities{
        @include flexBox3;
        flex-direction: row-reverse;
        

        & a{
            position: relative;

            & img{
                width:4rem;
            }

            & span{
                @include flexBox2;
                height:1.8rem;
                width:1.8rem;
                border-radius:100%;
                background-color:crimson;
                position: absolute;
                top:0;
                right:0;
                font-size:0.8rem;
                color:#fff;
            }
        }
   }
   &__searchBar{
    @include flexBox3;
    gap:0.5rem;
    padding:0.5rem 1rem;
    transition:var(--transition1);

        & input{
            width:0;
            outline:none;
            background-color:transparent;
            font-size:1.3rem;
            transition:var(--transition1);
        }

        & a{
            width:2rem;
            height:2rem;
            border-radius:100%;
            background-color:var(--txt-color1);
            @include flexBox2;

            & img{
               width:1.3rem;
            }
        }
        &:hover{
            border:1px solid grey;
            border-radius:40px;
        }
        &:hover > input{
            width:8rem;
        }
    }
}