.main{
    padding:2rem;
    @include flexBox4;
    gap:1rem;

    &__brand{
        @include flexBox2;
        gap:3rem;
        margin-block:3rem;

        & img {
            width:4rem;
        }
    }
    /*************product section*******************/
    &__products{
        @include flexBox4;
        gap:2rem;

        &-title{
            text-align:center;
            text-transform: capitalize;
            font-size:3rem;
            color:var(--txt-color1);
        }
        &-latest{
            display:grid;
            justify-items:center;
            grid-template-columns:repeat(auto-fit,minmax(min(100%,26em),1fr));
            gap:1em 2em;
        }

        &-card{
            height:36rem;
            box-shadow:var(--shadow1);
            border-radius:5px;
            overflow: hidden;
            
            & img{
                width:100%;
                height:60%;
                object-fit:cover;
                filter:brightness(0.6);
                transition:var(--transition1);

                &:hover{
                    transform:scale(1.3);
                }
            }
        }

        &-details{
            padding:0.5rem 1rem;
        }

        &-brand{
            font-size:2.4rem;
            text-transform: capitalize;
            color:var(--txt-color1);
        }
        &-description{
            font-size:1.4rem;
            color:var(--txt-color10);
            line-height:1.3;
            margin-block:0.5rem;
        }

        &-purchase{
            @include flexBox1;
        }
        &-price{
            font-size:1.4rem;
            font-weight: 700;
        }
        &-quantity{
            font-size:1.2rem;
        }
    } 
}