:root{
    // colors
    --primary-color : hsl(0, 0%, 15%);
    --logo-color:hsl(275, 87%, 28%);
    --secondary-color : hsl(0, 0%, 10%);
    --txt-color1 : hsl(180, 1%, 32%);
    --txt-color2 : hsl(180, 100%, 25%);
    --bg-color1:hsl(221, 41%, 89%);
    --bg-color2:hsl(229, 40%, 92%);
    --shadow1:0 6px 12px 0 rgba(0,0,0,0.3);
    --shadow2:0 5px 15px rgba(0,0,0,0.06 );
    --txt-color3:hsl(9, 54%, 97%);
    --txt-color4:hsl(221, 44%, 93%);
    --txt-color5:hsl(210, 3%, 13%);
    --txt-color6:hsl(210, 4%, 20%);
    --txt-color7:hsl(205, 31%, 12%);
    --txt-color8:hsl(225, 37%, 20%);
    --txt-color9:hsla(13, 88%, 55%, 0.8);
    --txt-color10:hsl(204, 19%, 26%);
    --txt-color11:hsla(0, 0%, 29%, 0.4);
    // transition
    --transition1:all 0.5s ease-in-out;

    // letter spacing
    --letter-space : 1px;
}